[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "surveyplanning"]
	path = surveyplanning
	url = https://github.com/csblatvia/surveyplanning
	subdir = surveyplanning
[submodule "vardpoor"]
	path = vardpoor
	url = https://github.com/csblatvia/vardpoor
	subdir = vardpoor
